# Core LaTeX auxiliary files
*.aux
*.log
*.gz
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

# Intermediate documents
*.dvi
*-converted-to.*

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Glossary auxiliary files
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# Leipzig glossary auxiliary files
*.lpz
*.lzo
*.lzs

# Index auxiliary files
*.idx
*.ilg
*.ind
*.ist
